html, body  {
    min-height: 99% !important;
    height: 99%;
    padding: 0; margin: 0;         
}


/*.container{   
    width:99%;
    height:100%;
    margin: 0;
    padding: 0;    
    position: fixed;
    border-left: 1px solid;
}
*/

.containerDiagram{    
    padding: 0.5em;
}

.pure-g{
    height: 100%;    
    margin: auto;    
}

#diagram{
    text-align:center;

}

.controls{
    padding: 0.5em;
    border-right: 3px dotted #B18888;
}

.controlscroll{
    overflow: auto;
    max-height: 50vh;
}

.accumTitle {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.5em;
  color: #596FCD;
  margin-bottom: 15px !important;
}

.accumField > span {
  color: blue;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 5px 0 15px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #004f65;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: black;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #004f65;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #004f65;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: black;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #004f65;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #004f65;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: black;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #004f65;
}
input[type=range]:focus::-ms-fill-upper {
  background: #004f65;
}

img{
    margin: auto;
    display: inherit;
}

body{
  background-color: #F7F7F7;
}