svg.simple-diagram {
    font-family: Arial, Helvetica, sans-serif;
}

svg.simple-diagram .node .node-shape {
    stroke: #333;
    fill: #EEE;
    stroke-width: 1px;
}

svg.simple-diagram .node .square {
    shape-rendering: crispEdges;
}

svg.simple-diagram .node.active .node-shape {
    fill: rgb(255, 225, 225);
}

svg.simple-diagram .box {
    fill: rgb(230, 237, 255);
    fill-opacity: 0.5;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

svg.simple-diagram .node .label {
    cursor: default;
    stroke: none;
    font-size: 9px;
    fill: #000;
}

svg.simple-diagram .subscript,
svg.simple-diagram .superscript {
    font-size: 0.8em;
}

svg.simple-diagram marker#arrow {
    fill: #333;
}

svg.simple-diagram .line {
    fill: none;
    stroke: #333;
    stroke-width: 1px;
}

svg.simple-diagram .grid {
    stroke: #EEE;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.simple-diagram-tooltip {
    padding: 8px;
    font-size: 12px;
    width: 280px;
    border: 1px solid rgb(214, 211, 132);
    background-color: rgb(255, 250, 226);
    opacity: 0.9
}
