<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>.:TGS:.</title>
        
        <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="js/d3.min.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/linq.min.js"></script>
        <script type="text/javascript" src="js/tgs/tgs.app.js"></script>
        <script type="text/javascript" src="js/tgs/tgs.controller.js"></script>
        <script src="js/SimpleDiagram-0.2.js"></script>

        <link rel="stylesheet" href="css/pure-min.css">
        <link href="css/main.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="css/SimpleDiagram-0.2.css">       

    </head>
    <body>
        <div class="pure-g">
            <div class="controls pure-u-6-24">
                <img src="img/escudo_ud.jpg" alt="U. Distrital" height="180" width="180">
                <p>TGS - Modelo para la disminuci&oacute;n de los &iacute;ndices de deserci&oacute;n estudiantil 
                    <br><br>
                    <b>Autores </b><br>
                    Liliana Loaiza Pulgarín <ljloaizap@gmail.com>, <br>
                    Camilo Antonio Ramirez Morales <camilolinchis@gmail.com>
                    - (2015)</p>
                
                <div ng-app="tgsApp" ng-controller="tgsController" class="ng-cloak">
                    <form class="pure-form pure-form-stacked">
                        <label class="accumTitle">ACUMULADORES <button ng-click="reset()">Reset</button></label>
                         <div class="controlscroll">
                            <fieldset>
                                <!-- <div class="accumField Cobertura Acad">
                                    {{ vm_nodes[1].name }} (<span>{{ vm_nodes[1].size }}%</span>)
                                    <input type="range" min="5.0" max="95" value="30" id="fader" ng-model="vm_nodes[1].size" ng-mouseup="setAccumField(1)">
                                </div> -->
                                <div class="accumField Corrupcion">
                                    {{ vm_nodes[2].name }} (<span>{{ vm_nodes[2].size }}%</span>)
                                    <input type="range" min="5.0" max="95" value="30" id="fader" ng-model="vm_nodes[2].size" ng-mouseup="setAccumField(2)">
                                </div>
                                <div class="accumField Costo Manut">
                                    {{ vm_nodes[3].name }} (<span>{{ vm_nodes[3].size }}%</span>)
                                    <input type="range" min="5.0" max="95" value="30" id="fader" ng-model="vm_nodes[3].size" ng-mouseup="setAccumField(3)">
                                </div>
                                <!-- <div class="accumField Costo Trans">
                                    {{ vm_nodes[4].name }}  (<span>{{ vm_nodes[4].size }}%</span>)
                                    <input type="range" min="5.0" max="95" value="30" id="fader" ng-model="vm_nodes[4].size" ng-mouseup="setAccumField(4)">
                                </div> -->
                                <div class="accumField Cost Pdo Acad">
                                    {{ vm_nodes[5].name }}  (<span>{{ vm_nodes[5].size }}%</span>)
                                    <input type="range" min="5.0" max="95" value="30" id="fader" ng-model="vm_nodes[5].size" ng-mouseup="setAccumField(5)">
                                </div>
                                <!-- <div class="accumField Dll Estr V">
                                    {{ vm_nodes[6].name }}  (<span>{{ vm_nodes[6].size }}%</span>)
                                    <input type="range" min="5.0" max="95" value="30" id="fader" ng-model="vm_nodes[6].size" ng-mouseup="setAccumField(6)">
                                </div> -->
                                <div class="accumField Deserc">
                                    {{ vm_nodes[7].name }}  (<span>{{ vm_nodes[7].size }}%</span>)
                                    <input type="range" min="5.0" max="95" value="30" id="fader" ng-model="vm_nodes[7].size" ng-mouseup="setAccumField(7)">
                                </div>
                                <!-- <div class="accumField Disciplina">
                                    {{ vm_nodes[8].name }}  (<span>{{ vm_nodes[8].size }}%</span>)
                                    <input type="range" min="5.0" max="95" value="30" id="fader" ng-model="vm_nodes[8].size" ng-mouseup="setAccumField(8)">
                                </div> -->
                                <div class="accumField Escasez">
                                    {{ vm_nodes[9].name }}  (<span>{{ vm_nodes[9].size }}%</span>)
                                    <input type="range" min="5.0" max="95" value="30" id="fader" ng-model="vm_nodes[9].size" ng-mouseup="setAccumField(9)">
                                </div>
                                <div class="accumField Estabilidad Ent Fam">
                                    {{ vm_nodes[10].name }}  (<span>{{ vm_nodes[10].size }}%</span>)
                                    <input type="range" min="5.0" max="95" value="30" id="fader" ng-model="vm_nodes[10].size" ng-mouseup="setAccumField(10)">
                                </div>
                                <!-- <div class="accumField Facilidad Mov">
                                    {{ vm_nodes[11].name }}  (<span>{{ vm_nodes[11].size }}%</span>)
                                    <input type="range" min="5.0" max="95" value="30" id="fader" ng-model="vm_nodes[11].size" ng-mouseup="setAccumField(11)">
                                </div> -->
                                <!-- <div class="accumField Insegr">
                                   {{ vm_nodes[12].name }}  (<span>{{ vm_nodes[12].size }}%</span>)
                                    <input type="range" min="5.0" max="95" value="30" id="fader" ng-model="vm_nodes[12].size" ng-mouseup="setAccumField(12)">
                                </div> -->
                                <!-- <div class="accumField Instituciones">
                                    {{ vm_nodes[13].name }}  (<span>{{ vm_nodes[13].size }}%</span>)
                                    <input type="range" min="5.0" max="95" value="30" id="fader" ng-model="vm_nodes[13].size" ng-mouseup="setAccumField(13)">
                                </div> -->
                                <div class="accumField Inv. Estatal">
                                    {{ vm_nodes[14].name }} (<span>{{ vm_nodes[14].size }}%</span>)
                                    <input type="range" min="5.0" max="95" value="30" id="fader" ng-model="vm_nodes[14].size" ng-mouseup="setAccumField(14)">
                                </div>
                                <!-- <div class="accumField Intrs Cont Acad">
                                    {{ vm_nodes[15].name }}  (<span>{{ vm_nodes[15].size }}%</span>)
                                    <input type="range" min="5.0" max="95" value="30" id="fader" ng-model="vm_nodes[15].size" ng-mouseup="setAccumField(15)">
                                </div> -->
                                <div class="accumField Op. Laborales">
                                    {{ vm_nodes[16].name }} (<span>{{ vm_nodes[16].size }}%</span>)
                                    <input type="range" min="5.0" max="95" value="30" id="fader" ng-model="vm_nodes[16].size" ng-mouseup="setAccumField(16)">
                                </div>
                                <div class="accumField Orient. Profe">
                                    {{ vm_nodes[17].name }}  (<span>{{ vm_nodes[17].size }} %</span>)
                                    <input type="range" min="5.0" max="95" value="30" id="fader" ng-model="vm_nodes[17].size" ng-mouseup="setAccumField(17)">
                                </div>
                                <!-- <div class="accumField Princ y Motiv">
                                    {{ vm_nodes[18].name }}  (<span>{{ vm_nodes[18].size }}%</span>)
                                    <input type="range" min="5.0" max="95" value="30" id="fader" ng-model="vm_nodes[18].size" ng-mouseup="setAccumField(18)">
                                </div> -->
                                <div class="accumField Rend. Est">
                                    {{ vm_nodes[19].name }}  (<span>{{ vm_nodes[19].size }}%</span>)
                                    <input type="range" min="5.0" max="95" value="30" id="fader" ng-model="vm_nodes[19].size" ng-mouseup="setAccumField(19)">
                                </div>
                                <!-- <div class="accumField Adpt Entorno">
                                    {{ vm_nodes[0].name }} (<span>{{ vm_nodes[0].size }}%</span>)
                                    <input type="range" min="5.0" max="95" value="30" id="fader" ng-model="vm_nodes[0].size" ng-mouseup="setAccumField(0)">
                                </div> -->
                                <div class="accumField Subsidios">
                                    {{ vm_nodes[21].name }} (<span>{{ vm_nodes[21].size }}%</span>)
                                    <input type="range" min="5.0" max="95" value="30" id="fader" ng-model="vm_nodes[21].size" ng-mouseup="setAccumField(21)">
                                </div>
                            </fieldset>
                        </div>
                    </form>

                    <button type="button" ng-click="clic()" style="display: none;">Clic</button>
                </div>
                
            </div>
            
            <div class="containerDiagram pure-u-17-24 ">                
                <div id="diagram"></div>             
                <div >
                    <p id="description"></p>
                </div>    
            </div>            
        </div>
                
        
        <script type="text/javascript" src="js/main.js"></script>      
    </body>
</html>