<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>BL.js</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>

    <script type="text/javascript" src="../js/businessLogic.js"></script>
    <script type="text/javascript" src="../js/tgs/tgs.app.js"></script>
    <script type="text/javascript" src="../js/tgs/tgs.controller.js"></script>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>

    <div class="container" ng-app="tgsApp" ng-controller="tgsController">
    	<h1>TGS</h1>
        <!--<button id="btn" type="button" ng-click="clic()">Clic</button>-->
        <div class="input-group">
		  <span class="input-group-addon" id="basic-addon1">@</span>
		  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
		</div>

        <div class="input-group">
		  <span class="input-group-addon" id="basic-addon1">@</span>
		  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
		</div>
    </div>

</body>

</html>
